html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
body {
    position: relative;    
}
#calcDisplay {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 15%;
    border: 2px solid black;
    background-color: lightgray;
}
#inputRecord {
    white-space: pre;
}
#keyContainer {
    position: absolute;
    border: 2px solid black;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.keypadCol {
    border: 2px solid blue;
    flex: 1;
    display: flex;
    flex-direction: column;    
}
.keypadRow {
    border: 2px solid blue;
    flex: 1;
}
.keypadButton {
    height: 100%;
    width: 100%;
    font-size: 200%;
}
#keyClear > button {
    background-color: orange;
}
#keyEquals > button {
    background-color: orange;
}
#keyPlus > button {
    background-color: orange;
}
#keyMinus > button {
    background-color: orange;
}
#keyMultiply > button {
    background-color: orange;
}
#keyDivide > button {
    background-color: orange;
}