html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
body {
    position: relative;    
}
#calcDisplay {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 15%;
    border: 2px solid black;
}
#keyContainer {
    position: absolute;
    border: 2px solid black;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.keypadCol {
    border: 2px solid blue;
    flex: 1;
    display: flex;
    flex-direction: column;    
}
.keypadRow {
    border: 2px solid red;
    flex: 1;
}
.keypadButton {
    height: 100%;
    width: 100%;
}